.profile-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 150px;
    /* 你可以根据需要调整大小 */
    height: 150px;
    /* 确保高度和宽度一致，以保持圆形 */
}

.quote {
    text-align: center;
    font-style: italic;
    margin: 20px;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    color: #333;
    /* 图标颜色，可以根据需要调整 */
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    /* 图标大小 */
}